<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322336638669-rr1j7coavse8a1gbeu29n7r2j7j1okbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322336638669-rr1j7coavse8a1gbeu29n7r2j7j1okbq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322336638669-1ra6bhf98bp8ka2baknsij1umr812oll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-xPkPwx4i8aEM0zY787kfwLn6TXkIU_4</string>
	<key>GCM_SENDER_ID</key>
	<string>322336638669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scrapify</string>
	<key>PROJECT_ID</key>
	<string>scrapify-9bcaa</string>
	<key>STORAGE_BUCKET</key>
	<string>scrapify-9bcaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322336638669:ios:5d3a1fd7d41bcd680a0b84</string>
	<key>DATABASE_URL</key>
	<string>https://scrapify-9bcaa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>